// Component
%title{
  font-size: $titleFontSize;
  color: $titleColor;
  font-weight: $fontBold;
}
.section-title{
  @extend %title;


}
.page-title{
  @extend %title;
  text-transform: uppercase;

  .small-title{
    font-size: $smallTitleFontSize;
  }
}

@media (max-width: 479px){
  %title{
    font-size: 14px;
  }
}

// Loader
#loading{
  background-color: $orange;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin-top: 0px;
  top: 0px;
  transition: opacity .3s linear, z-index .1s linear .3s;
}
#loading.hide{
  z-index: -1;
  opacity: 0;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}

//links

.link{
  font-size: $linkFontSizeDefault;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }

  &:hover{
    color: $linkHoverColor;
  }
}

@media (max-width: 599px){
  .link{
    &.large-link{
      font-size: $linkFontSizeDefault;
    }
  }
}


//button

.btn{
  padding: 10px 22px;
  font-size: $btnFontSize;
  color: $btnDefaultColor;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $orangeLight;
    }
  }
  &.btn-disabled{
    background-color: $btnDisabledBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisabledBgHover;
    }
  }

  & + .btn{
    margin-left: $defaultIndent;
  }
  & .icon{
    margin: 0;
  }
}

// icon
.icon{
  font-size: 17px;
  margin-right: 15px;
  display: inline-block;
  width: 17px;
  text-align: center;
}

// table

.table{
  border-collapse: collapse;
  font-size: $tableFontSize;

  &.full-width{
    width: 100%;
  }

  tbody{

    tr{
      &:last-child{
        border-bottom: 1px solid $lightGrey;
      }

      &:hover{
        background-color: $xsLightGrey;
      }
    }
  }
  tr{

    th{
      padding: 30px 18px;
      color: $grey;
      text-align: left;
    }

    td{
      padding: 18px;
      border-top: 1px solid $lightGrey;
      cursor: pointer;

      &.td-title{
        font-size: 16px;
        color: $grey;
      }
    }
  }

  .table-sort{
    color: $grey;
    padding: 8px 10px;
    margin: -8px -10px;
    border-right: 2px;
    cursor: pointer;

    &:hover{
      background-color: $tableTrHover;
      color: $black;
    }
  }
}

@media (max-width: 599px){
  .table{
    tr{
      td{
        &.td-title{
          font-size: $tableFontSize;
        }
      }
    }
  }
}

// pagionation
%activePaginationLink{
  background-color: $xsLightGrey;
  color: $darkGrey;
  border-radius: 3px;
}

.pagination{
  justify-content: center;
  padding-bottom: 25px;

  li{
    display: inline-block;
    color: $blue;

    &:first-child,
    &:last-child{
      padding: 15px;
      color: $darkGrey;
      cursor: pointer;
    }

    &:first-child:hover,
    &:last-child:hover{
      @extend %activePaginationLink;
    }

    &.active{
      a{
        @extend %activePaginationLink
      }
    }

    a{
      display: inline-block;
      padding: $defaultIndent;

      &:hover{
        @extend %activePaginationLink;
      }
    }

    span{

      &.icon{
        margin: 0;
      }
    }
  }
}

// circle
.circle{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;

  &.circle-blue{
    background-color: $tabsCircleBlueBG;
  }

  &.circle-orange{
    background-color: $tabsCircleOrangeBG;
  }

  &.circle-green{
    background-color: $tabsCircleGreenBG;
  }
}

// chart
.chart{

  // tabs
  .tabs{
    justify-content: center;
    margin-bottom: 70px;

    .tab{
      display: flex;
      padding: 12px $defaultIndent;
      background-color: #fff;
      border-radius: 3px;
      cursor: pointer;
      color: $blue;

      & + a{
        margin-left: $defaultIndent;
      }

      &:hover{
        background-color: $xsLightGrey;
        color: $darkGrey;
      }

      &.active{
        background-color: $xsLightGrey;
        color: $darkGrey;
      }

      & span + span{
        padding-left: 13px;
      }

      & span{
        line-height: 1.3;
      }
    }
  }

  // chart
  .chart-wrap{
    padding-bottom: 30px;
  }
}

// inputs
.form-control{
  border: 1px solid $lightGrey;
  border-radius: 3px;
  padding: 6px $defaultIndent;
  height: 40px;
  font-family: $fontFamily;
  font-weight: $fontLight;

  &:hover,
  &:focus{
    border-color: $grey;
    outline: none;
  }

  & + .form-control{
    margin-top: 15px;
  }

  &.big{
    height: 120px;
    padding: 10px $defaultIndent;
  }

  &.danger{
    border: 2px solid $red;
  }

  &[disabled]{
    background-color: #fff;
    border-color: $lightGrey;
    cursor: not-allowed;

    &::placeholder{
    color: $grey;
      font-size: 14px;
    }
  }

  textarea[readonly]{
    color: $grey;
    font-size: 12px;
    font-weight: $fontRegular;
    line-height: 18px;
  }
}

// Date input block
.datepicker-form{
  .btn{
    vertical-align: middle;
    height: 48px;
  }
}
.date-input-wrap{
  padding: 4px 0;
  vertical-align: middle;
  border:  1px solid $lightGrey;
  border-radius: 3px;
  display: inline-block;
  margin-right: 13px;

  .date-control{
    padding: 11px 16px;
    font-size: $fontSize;
    font-weight: $fontLight;
    color: $black;
  }

  #to{
    border-left:  1px solid $lightGrey;
    background: url("../img/calendar.svg") no-repeat 90%;
    background-size: 13px 13px;
  }
}

@media (max-width: 767px){
  .datepicker-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .date-input-wrap{
      width: 100%;
      margin: 0 $defaultIndent;
    }

    button{
      margin-top: 20px;
    }
  }
}


@media (max-width: 599px){
  .datepicker-form{

    .date-input-wrap{

      .date-control{
        width: 45%;
      }
    }
  }
}

@media (max-width: 479px){
  .datepicker-form{

    .date-input-wrap{
      margin: 0 5px;

      .date-control{
        padding: 11px 0 11px 10px;
      }

      #to{
        background: none;
      }
    }
  }
}

//Notification
.notification{
  width: 265px;
  padding: 13px 15px 13px 25px;
  color: #fff;
  cursor: pointer;

  &.positive{
    background-color: $xsLightGgreen;

    &:hover{
      background-color: $lightGgreen;
    }
  }

  &.negative{
    background-color: $lightPink;

    &:hover{
      background-color: $pink;
    }
  }
}

// container
.container-fluid{
  padding: $defaultIndent;
}
.container-sm{
  max-width: 684px;
  margin: 0 auto;
}

// row
.row{
  margin-left: -$defaultIndent;
  margin-right: -$defaultIndent;
}

//header
.header{
  background-color: #fff;
  border-bottom:1px solid $lightGrey;
  right: 0;
  left: 0;

  & .user-control{
    justify-content: flex-end;

    & li{
      border-left: 1px solid $lightGrey;
      padding: 20px $defaultIndent 19px $defaultIndent;
      color: $grey;

      &:nth-child(2n) .icon{
        margin-right: 0;
      }

      &:first-child .icon:nth-child(3){
        margin-right: 0;
        margin-left: 20px;
        margin-top: -7px;
      }

      &:hover{
        background-color: $xsLightGrey;
      }

      &.cash{
        cursor: pointer;
        span:nth-child(2){
          font-size: 20px;
        }
      }

      &.top-notification{
        position: relative;

        & .top-notification-circle{
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $orange;
          top: 30%;
          right: 35%;
        }
      }

      &.top-user-name{
        span:nth-child(2){
          color: $blue;
        }
      }
    }
  }
}

@media (max-width: 599px){
  .header{
    & .user-control{
      li{
        font-size: 15px;
        padding: 10px;

        &.cash{
          span:nth-child(2){
            font-size: 15px;
          }
        }

        &.top-notification{
          & .top-notification-circle{
            transform: translateY(-50%) translateX(50%);
          }
        }
      }
    }
  }
}

@media (max-width: 479px){
  .header{
    .user-control{
      .icon{
        margin-right: 0;
      }

      .cash{
        span:nth-child(2){
          display: none;
        }
      }
      .top-user-name{
        span:last-child{
          display: none;
        }
      }
    }
  }
}

// aside
%activeLink{
  background-color: #282828;
  color: #fff;
  border-left-color: $orange;
}

.aside{
  background-color: $asideBG;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;
  overflow-y: auto;

  .menu-control{
    padding: $defaultIndent;

      .menu-btn{
        cursor: pointer;

        span{
          display: block;
          width: 18px;
          height: 2px;
          background-color: $darkGrey;

          & + span{
            margin-top: 5px;
          }
        }
      }
  }

  .aside-menu{

    ul{

      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }

        a{
          display: block;
          padding: 13px;
          border-left: 4px solid transparent;

          //.icon{
          //  font-size: 17px;
          //  margin-right: 15px;
          //  display: inline-block;
          //  width: 16px;
          //  text-align: center;
          //}

          &:hover{
            @extend %activeLink
          }
        }
      }
    }
  }

  .your-manager{
    padding: 27px $defaultIndent;
    border-top: 1px solid $darkGrey;

    .manager-info{
      margin-top: $defaultIndent;

      .manager-photo{
        position: relative;
        margin-right: 10px;

        .status{
          width: 11px;
          height: 11px;
          border-radius: 50%;
          position: absolute;
          right: 0;
          top: 0;

          &.online{
            background-color: $green;
          }
          &.offline{
            background-color: $red;
          }
        }
      }
    }
  }
}

// Content wrapper
.content-wrapper{
  padding: $defaultIndent;
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.panel{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);

  & + .panel{
    margin-top: $defaultIndent;
  }

  .panel-header{
    border-bottom: 1px solid $lightGrey;
    padding: $defaultIndent;
  }

  .panel-body{
    padding: 0 $defaultIndent;
  }

  .panel-form{
    padding: 40px 0;
    border-bottom:  1px solid $lightGrey;
    text-align: center;

    form{
      width: 455px;
      display: inline-block;
    }
  }

  .panel-footer{
    padding: 30px 0;
  }
}

.panel-date{
  padding: 30px 0;
  border-bottom:  1px solid $lightGrey;
}

@media (max-width: 479px) {
  .panel.links{
    .panel-body{
      .container-sm{
        overflow-x: auto;

        .table{
          width: 350px;
        }
      }

      .btn{
        margin-top: $defaultIndent;
      }
    }
  }

  .content-wrapper{
    .panel{
      .panel-body{
        .chart{
          display: none;
        }
      }
    }
  }
}

// label group
.label-group{
  display: flex;
  align-items: center;
  justify-content: space-between;

  & + .label-group{
    margin-top: 15px;
  }

  & label{
    font-weight: $fontBold;
    color: $grey;
  }

  & .form-control{
    width: 310px;
  }
}

// statistics
.statistics{

  padding: 20px 0 20px 0;
  margin-bottom: 70px;

  ul{
    width: 45%;

    li{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $lightGrey;

      span{
        padding: 20px 0 5px 0;
        font-size: 16px;
      }

      & .statistics-title{
        font-weight: $fontBold;
        color: $grey;
      }
    }
  }
}


@media (max-width: 599px){
  .statistics{
    flex-wrap: wrap;

    ul{
      width: 100%;

      li{
        span{
          font-size: 13px;
        }
      }
    }
  }
}

// modal
.modal{
  background-color: #fff;
  display: none;

  .modal-header{
    @extend %title;
    padding: $defaultIndent;
    border-bottom: 1px solid $lightGrey;
  }

  .modal-form-wrap{

    padding: 25px $defaultIndent;


    .form-group{
      .page-title{
        margin-bottom: $defaultIndent;
        text-transform: inherit;
      }
    }

    .form-group:first-child,
    .form-group:nth-child(2){
      margin-right: $defaultIndent;
      flex-grow: 1;

      .form-control{
        width: 100%;
      }
    }

    .form-group:last-child{
      width: 130px;

      .jq-selectbox__select{
        background: url(../img/lenguage-bg.png) no-repeat 18px;
        padding-left: 60px;
      }

      .jq-selectbox__dropdown{
        li{
          background: url(../img/lenguage-bg.png) no-repeat 18px;
          padding-left: 60px;
          &:hover{
            background-color: $xsLightGrey;
          }
        }
      }
    }

    .form-control + .form-control{
      margin-top: 0;
    }

  }

  .form-group-wrap{
    padding: 0 18px 30px 18px;

    & .page-title{
      margin-bottom: 20px;
      text-transform: inherit;
    }

    .form-group{
      flex-grow: 1;
    }

    div.form-group:nth-child(2){
      margin-right: $defaultIndent;
      margin-left: $defaultIndent;
    }
  }

  .modal-body{
    padding: 0 $defaultIndent;
    border-top: 1px solid $lightGrey;

    .modal-body-form-wrap{
      padding: 0;

      .form-group-wrap{
        padding: 0;

        .form-group{
          flex-grow: inherit;
          width: 49%;

          .page-title{
            margin-top: 20px;
          }
        }

        .form-group:first-child{
          margin-right: $defaultIndent;
        }
        .form-group:last-child{
          margin-left: $defaultIndent;
        }

        .checkboxes{
          padding: $defaultIndent 0;

          .scroll-wrapper{
            height: 405px;
          }

          .checkbox-group{
            margin-right: 35px;
            padding: 23px 20px;

            &:hover{
              background-color: $xsLightGrey;
            }
          }
        }
      }

    }
  }

  .modal-footer{
    padding: $defaultIndent;
    border-top: 1px solid $lightGrey;
  }

}

@media (max-width: 991px){
  .modal{
    .modal-form-wrap{
      .form-group:last-child{
        width: 112px;

        .jq-selectbox__select{

          .jq-selectbox__select-text{
            display: none;
          }
        }

        .jq-selectbox__dropdown{
          li{
            color: transparent;
          }
        }
      }
    }
  }
}

@media (max-width: 767px){
  .modal{

    .modal-form-wrap{
      flex-wrap: wrap;

      .form-group:first-child{
        width: 100%;
        margin-right: 0;
        margin-bottom: $defaultIndent;
      }
    }
    .form-group-wrap{
      flex-wrap: wrap;

      .form-group{
        width: 100%;
      }

      div.form-group:nth-child(2){
        margin-right: 0;
        margin-left: 0;
      }

      .form-group + .form-group{
        margin-top: $defaultIndent;
      }
    }

    .modal-body{
      .modal-body-form-wrap{
        .form-group-wrap{

          .form-group{
            width: 100%;
          }
          .form-group:first-child{
            margin-right: 0;
          }
          .form-group:last-child{
            margin-left: 0;
          }
        }
      }
    }

    .modal-footer{
      .flex-container{
        justify-content: center;
        flex-wrap: wrap;

        input{
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 479px){
  .modal{
    .modal-form-wrap{
      .form-group:nth-child(2){
        margin-right: 0;
        margin-bottom: $defaultIndent;
      }
    }

    .modal-body{
      .modal-body-form-wrap{
        .form-group-wrap{

          .form-group{
            .checkboxes{
              .checkbox-group{
                padding: 23px 10px;

                .icon{
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .modal-footer{
      .btn{
        width: 100%;
        text-align: center;
      }
      .btn + .btn{
        margin-left: 0;
        margin-top: $defaultIndent;
      }
    }
  }
}

// checkbox and radio
input{

  &[type="checkbox"]{
    display: none;

    & + label{
      font-size: 14px;
      color: $black;
      cursor: pointer;

      &::before{
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 1px solid $lightGrey;
        background-color: #fff;
        margin-right: 16px;
      }
    }

    &:checked{

      & + label{

        &:before{
          background: $green url("../img/checkbox-bg.png") no-repeat center;
        }
      }
    }
  }
  &[type="radio"]{
    display: none;
  }
}

@media (max-width: 479px){
  input{
    &[type="checkbox"]{
      & + label{
        font-size: 13px;
      }
    }
  }
}

// checkbox wrap
.checkbox-wrap{
  padding: 30px 0;

  .checkboxes{

    .scrollbar-inner{
      height: 150px;
      flex-wrap: wrap;
      padding-right: 20px;
    }

    .checkbox-group{
      padding: 12px;
      margin-right: 18px;

      &:hover{
        background-color: $xsLightGrey;
      }

      .icon{
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 479px) {
  .checkbox-wrap {
    .checkboxes {
      .checkbox-group {
        padding: 10px 0 10px 8px;
        margin-right: 10px;

        .icon {
          display: none;
        }
      }
    }
  }
}

#add-links-modal{
  width: 1075px;

  .checkbox-group{
    width: 30%;
  }
}

#add-banners-modal{
  width: 1075px;
}

@media (max-width: 1199px){
  #add-links-modal{
    width: 80%;

    .checkbox-group{
      width: 47%;
    }
  }
  #add-banners-modal{
    width: 80%;
  }
}

@media (max-width: 767px){
  #add-links-modal{

    .checkbox-group{
      width: 100%;
    }
  }
}



// range slider
#slider{

  &.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content{
    border: none;
    border-radius: 0;
    background-color: $lightGrey;
  }

  .ui-slider-horizontal{
    height: 5px;
  }

  .ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min{
    border-radius: 0;
  }

  .ui-widget-header{
    background-color: $orange;
  }

  #custom-handle{
    position: relative;
    top: 19px;
    width: 0;
    height: 0;
    border-top: none;
    border-bottom: 22px solid $orange;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    background-color: #fff;
    border-radius: 0;
    outline: none;

    span{
      position: absolute;
      top: 35px;
      left: -22px;
    }

  }
}

.dropdown-menu{
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  top: 100%;
  left: 0;
}
.dropdown-wrap{
  position: relative;
  //&:hover{
  //  .dropdown-menu{
  //    display: block;
  //  }
  //}
}

@media (max-width: 1199px){
  .panel.details{
    .panel-body{
      .container{
        .table{
          font-size: 12px;

          thead{
            th{
              padding-left: 10px;
              padding-right: 10px;
            }
          }
          tbody{
            tr{
              td{
                padding: 15px 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px){
  .panel.details{
    .panel-body{
      .container:first-child{
        overflow-x: auto;
        .table{
          width: 820px;

        }
      }
      .container:last-child{
        .pagination{
          padding-top: $defaultIndent;
        }
      }
    }
  }
}

@media (max-width: 767px){
  .pagination{

    li:first-child,
    li:last-child{
      padding: 10px;
    }

    li{
      a{
        padding: 13px;
      }
    }
  }
}

@media (max-width: 599px){
  .pagination{

    li:first-child,
    li:last-child{
      padding: 8px;

      .icon{
        font-size: 15px;
      }
    }

    li{
      a{
        padding: 10px;
        font-size: 13px;
      }
    }
  }

  .panel.personal-data{

      .panel-form{
        form{
          width: 100%;

          .label-group{
            display: flex;
            flex-wrap: wrap;
            padding:0 $defaultIndent;

            label{
              margin-bottom: $defaultIndent;
            }
            .form-control{
              width: 100%;
            }
          }
        }
      }

  }
}
@media (max-width: 479px){
  .pagination{

    li:first-child,
    li:last-child{
      padding: 4px;

      .icon{
        font-size: 13px;
      }
    }

    li{
      a{
        padding: 6px;
        font-size: 13px;
      }
    }
  }
}

