//Body
$bodyColor: #8b8e94;
$bodyBkg: #E4E4E4;
$bodyLineHeight: 24px;
$bodyFontSize: 15px;
$bodyFontFamily: 'Open Sans', sans-serif;
$bodyFontWeight: 400;

//Fonts
$fontSans: 'Open Sans', sans-serif;
$fontPinyon: 'Pinyon Script', cursive;

//Colors
$white: #fff;
$orange: #FFA33E;
$lightOrange: #ffa848;
$black: #000;

//btn

